<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravi.stylemvplegacy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="in.blogspot.ravinishad.stylemvplegacy.StyleMVPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="in.blogspot.ravinishad.stylemvplegacy.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="in.blogspot.ravinishad.stylemvplegacy.login.LoginActivity">

        </activity>

        <activity android:name="in.blogspot.ravinishad.stylemvplegacy.profile.ProfileActivity">

        </activity>

    </application>

</manifest>